* {
    box-sizing: border-box;
    /*same size for every box */
}
body{
 background-color:#FCEBB6;
 color: #221811;
 font-family: Verdana, Arial, sans-serif;
 background-image: url('background.gif');
}

header {
    background-color: #D2B48C;
    height: 150px;
    background-image: url('javajamlogo.jpg');
    background-repeat: no-repeat;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav a {
    text-decoration: none;
}

nav a:link { color: #FEF6C2; } /*unvisited link*/
nav a:visited{color: #D2B48C} /*visited link*/
nav a:hover{color:#cc9933} /*cursor on top of link*/

nav ul 
{
    list-style-type: none; /*remove unlisted bullet list*/
    padding-left: 0;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: solid 2px #221811;
}

/* <div id='wrapper'> in html*/
#wrapper {
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    background-color:#231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px 3px #333333;

}

h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0;
    text-transform: capitalize;
    border-bottom: solid 2px #221811;
    clear: left
}

main {
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 2em;
    margin-left: 200px;
    background-color: #FCEBB6;
}

/*main{
    padding: 0em 2em 2em 2em
}*/

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left:3em;
    padding-right: 2em;
}

/*<div class = 'details'> in html */
.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad{
    background-image: url('heroroad.jpg');
    background-size: 100%;
    height: 250px;
}

#heromugs{
    background-image: url('heromugs.jpg');
    background-size: 100%;
    height: 250px;
}

#heroguitar{
    background-image: url('heroguitar.jpg');
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;
}

#herojobs{
    background-image: url('heroguitar.jpg');
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}
header, nav, main, footer {display: blocks}

table {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    border-spacing: 0;
    background-color: #fffccc;
}

td, th {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #D2B48E;
}

form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

/* id use # */
#mySubmit {
    margin-left: 9.5em;

}

#myReset {
    margin-left: 16em;
    margin-top: -2.55em;
}